#europe2tv_01 {
    background-image: url('../img/tv/channel17/europe2tv/europe2tv_01.svg');
}

#virgin17_01 {
    background-image: url('../img/tv/channel17/virgin17/virgin17_01.png');
}

#directstar_01 {
    background-image: url('../img/tv/channel17/directstar/directstar_01.svg');
}

#d17_01 {
    background-image: url('../img/tv/channel17/d17/d17_01.png');
}

#d17_02 {
    background-image: url('../img/tv/channel17/d17/d17_02.png');
}

#cstar_01 {
    background-image: url('../img/tv/channel17/cstar/cstar_01.svg');
}