#nt1_01 {
    background-image: url('../img/tv/channel11/nt1/nt1_01.svg');
}

#nt1_02 {
    background-image: url('../img/tv/channel11/nt1/nt1_02.png');
}

#nt1_03 {
    background-image: url('../img/tv/channel11/nt1/nt1_03.svg');
}

#tfx_01 {
    background-image: url('../img/tv/channel11/tfx/tfx_01.svg');
}