#canalplusjaune_01 {
    background-image: url('../img/tv/channel43/canalplusjaune/canalplusjaune_01.svg');
}

#canalpluscinema_01 {
    background-image: url('../img/tv/channel43/canalpluscinema/canalpluscinema_01.svg');
}

#canalpluscinema_02 {
    background-image: url('../img/tv/channel43/canalpluscinema/canalpluscinema_02.svg');
}

#canalpluscinema_03 {
    background-image: url('../img/tv/channel43/canalpluscinema/canalpluscinema_03.svg');
}

#canalpluscinema_04 {
    background-image: url('../img/tv/channel43/canalpluscinema/canalpluscinema_04.svg');
}

#canalpluscinema_05 {
    background-image: url('../img/tv/channel43/canalpluscinema/canalpluscinema_05.svg');
}

#canalpluscinema_06 {
    background-image: url('../img/tv/channel43/canalpluscinema/canalpluscinema_06.png');
}