#fernsehsender_paris_01 {
    background-image: url('../img/tv/f/fernsehsender_paris/fernsehsender_paris_01.png');
}

#festival_01 {
    background-image: url('../img/tv/f/festival/festival_01.jpg');
}

#festival_02 {
    background-image: url('../img/tv/f/festival/festival_02.svg');
}

#fr3_01 {
    background-image: url('../img/tv/f/fr3/fr3_01.svg');
}

#fr3_02 {
    background-image: url('../img/tv/f/fr3/fr3_02.svg');
}

#fr3_03 {
    background-image: url('../img/tv/f/fr3/fr3_03.svg');
}

#fr3_04 {
    background-image: url('../img/tv/f/fr3/fr3_04.svg');
}

#france2_01 {
    background-image: url('../img/tv/f/france2/france2_01.svg');
}

#france2_02 {
    background-image: url('../img/tv/f/france2/france2_02.svg');
}

#france2_03 {
    background-image: url('../img/tv/f/france2/france2_03.png');
}

#france2_04 {
    background-image: url('../img/tv/f/france2/france2_04.svg');
}

#france2_05 {
    background-image: url('../img/tv/f/france2/france2_05.jpg');
}

#france3_01 {
    background-image: url('../img/tv/f/france3/france3_01.svg');
}

#france3_02 {
    background-image: url('../img/tv/f/france3/france3_02.svg');
}

#france3_03 {
    background-image: url('../img/tv/f/france3/france3_03.png');
}

#france3_04 {
    background-image: url('../img/tv/f/france3/france3_04.svg');
}

#france4_01 {
    background-image: url('../img/tv/f/france4/france4_01.svg');
}

#france4_02 {
    background-image: url('../img/tv/f/france4/france4_02.png');
}

#france4_03 {
    background-image: url('../img/tv/f/france4/france4_03.svg');
}

#france4_04 {
    background-image: url('../img/tv/f/france4/france4_04.png');
}

#france4_05 {
    background-image: url('../img/tv/f/france4/france4_05.png');
}

#france5_01 {
    background-image: url('../img/tv/f/france5/france5_01.svg');
}

#france5_02 {
    background-image: url('../img/tv/f/france5/france5_02.svg');
}

#france5_03 {
    background-image: url('../img/tv/f/france5/france5_03.svg');
}

#franceinfo_01 {
    background-image: url('../img/tv/f/franceinfo/franceinfo_01.svg');
}

#franceO_01 {
    background-image: url('../img/tv/f/franceO/franceO_01.svg');
}

#franceO_02 {
    background-image: url('../img/tv/f/franceO/franceO_02.png');
}

#franceO_03 {
    background-image: url('../img/tv/f/franceO/franceO_03.svg');
}