#planetecable_01 {
    background-image: url('../img/tv/channel45/planetecable/planetecable_01.svg');
}

#planete_01 {
    background-image: url('../img/tv/channel45/planete/planete_01.svg');
}

#planete_02 {
    background-image: url('../img/tv/channel45/planete/planete_02.svg');
}

#planeteplus_01 {
    background-image: url('../img/tv/channel45/planeteplus/planeteplus_01.svg');
}