#lacinq_01 {
    background-image: url('../img/tv/channel05/lacinq/lacinq_01.svg');
}

#lacinq_02 {
    background-image: url('../img/tv/channel05/lacinq/lacinq_02.jpeg');
}

#lacinq_03 {
    background-image: url('../img/tv/channel05/lacinq/lacinq_03.jpg');
}

#teleemploi_01 {
    background-image: url('../img/tv/channel05/teleemploi/teleemploi_01.svg');
}