#canalassembleenationale_01 {
    background-image: url('../img/tv/channel13/canalassembleenationale/canalassembleenationale_01.gif');
}

#canalassemblee_01 {
    background-image: url('../img/tv/channel13/canalassemblee/canalassemblee_01.png');
}

#lcp_01 {
    background-image: url('../img/tv/channel13/lcp/lcp_01.png');
}

#lcp_02 {
    background-image: url('../img/tv/channel13/lcp/lcp_02.png');
}

#lcp_03 {
    background-image: url('../img/tv/channel13/lcp/lcp_03.png');
}

#lcp_04 {
    background-image: url('../img/tv/channel13/lcp/lcp_04.png');
}

#lcp_05 {
    background-image: url('../img/tv/channel13/lcp/lcp_05.png');
}

#lcp_06 {
    background-image: url('../img/tv/channel13/lcp/lcp_06.svg');
}

#lcp_07 {
    background-image: url('../img/tv/channel13/lcp/lcp_07.jpg');
}

#lcp_08 {
    background-image: url('../img/tv/channel13/lcp/lcp_08.png');
}

#lcp_09 {
    background-image: url('../img/tv/channel13/lcp/lcp_09.svg');
}