#radiovision_ptt_01 {
    background-image: url('../img/tv/r/radiovision_ptt/radiovision_ppt_01.svg');
}

#rdf_tf_01 {
    background-image: url('../img/tv/r/rdf_tf/rdf_tf_01.jpg');
}

#rfosat_01 {
    background-image: url('../img/tv/r/rfosat/rfosat_01.svg');
}

#rfosat_02 {
    background-image: url('../img/tv/r/rfosat/rfosat_02.svg');
}

#rmcdecouverte_01 {
    background-image: url('../img/tv/r/rmcdecouverte/rmcdecouverte_01.png');
}

#rmcdecouverte_02 {
    background-image: url('../img/tv/r/rmcdecouverte/rmcdecouverte_02.svg');
}

#rmclife_01 {
    background-image: url('../img/tv/r/rmclife/rmclife_01.png');
}

#rmcstory_02 {
    background-image: url('../img/tv/r/rmcstory/rmcstory_02.png');
}

#rtf_01 {
    background-image: url('../img/tv/r/rtf/rtf_01.svg');
}

#rtf_02 {
    background-image: url('../img/tv/r/rtf/rtf_02.png');
}

#rtf2_01 {
    background-image: url('../img/tv/r/rtf2/rtf2_01.png');
}

#rtt_01 {
    background-image: url('../img/tv/r/rtt/rtt_01.png');
}

#rtt_02 {
    background-image: url('../img/tv/r/rtt/rtt_02.png');
}