#lci_01 {
    background-image: url('../img/tv/channel26/lci/lci_01.svg');
}

#lci_02 {
    background-image: url('../img/tv/channel26/lci/lci_02.png');
}

#lci_03 {
    background-image: url('../img/tv/channel26/lci/lci_03.png');
}

#lci_04 {
    background-image: url('../img/tv/channel26/lci/lci_04.svg');
}