#nrj12_01 {
    background-image: url('../img/tv/channel12/nrj12/nrj12_01.png');
}

#nrj12_02 {
    background-image: url('../img/tv/channel12/nrj12/nrj12_02.png');
}

#nrj12_03 {
    background-image: url('../img/tv/channel12/nrj12/nrj12_03.svg');
}