#itelevision_01 {
    background-image: url('../img/tv/channel16/itelevision/itelevision_01.svg');
}

#itele_01 {
    background-image: url('../img/tv/channel16/itele/itele_01.svg');
}

#itele_02 {
    background-image: url('../img/tv/channel16/itele/itele_02.svg');
}

#itele_03 {
    background-image: url('../img/tv/channel16/itele/itele_03.svg');
}

#cnews_01 {
    background-image: url('../img/tv/channel16/cnews/cnews_01.svg');
}