#hd1_01 {
    background-image: url('../img/tv/channel20/hd1/hd1_01.svg');
}

#tf1seriesfilms_01 {
    background-image: url('../img/tv/channel20/tf1seriesfilms/tf1seriesfilms_01.svg');
}

#tf1seriesfilms_02 {
    background-image: url('../img/tv/channel20/tf1seriesfilms/tf1seriesfilms_02.svg');
}