#radiovision_ptt_01 {
    background-image: url('../img/tv/channel01/radiovision_ptt/radiovision_ppt_01.svg');
}

#rtt_01 {
    background-image: url('../img/tv/channel01/rtt/rtt_01.png');
}

#rtt_02 {
    background-image: url('../img/tv/channel01/rtt/rtt_02.png');
}

#fernsehsender_paris_01 {
    background-image: url('../img/tv/channel01/fernsehsender_paris/fernsehsender_paris_01.png');
}

#rdf_tf_01 {
    background-image: url('../img/tv/channel01/rdf_tf/rdf_tf_01.jpg');
}

#rtf_01 {
    background-image: url('../img/tv/channel01/rtf/rtf_01.svg');
}

#rtf_02 {
    background-image: url('../img/tv/channel01/rtf/rtf_02.png');
}

#ortf_01 {
    background-image: url('../img/tv/channel01/ortf/ortf_01.svg');
}

#tf1_01 {
    background-image: url('../img/tv/channel01/tf1/tf1_01.svg');
}

#tf1_02 {
    background-image: url('../img/tv/channel01/tf1/tf1_02.svg');
}

#tf1_03 {
    background-image: url('../img/tv/channel01/tf1/tf1_03.svg');
}

#tf1_04 {
    background-image: url('../img/tv/channel01/tf1/tf1_04.svg');
}

#tf1_05 {
    background-image: url('../img/tv/channel01/tf1/tf1_05.svg');
}

#tf1_06 {
    background-image: url('../img/tv/channel01/tf1/tf1_06.svg');
}