#direct8_01 {
    background-image: url('../img/tv/channel08/direct8/direct8_01.png');
}

#direct8_02 {
    background-image: url('../img/tv/channel08/direct8/direct8_02.svg');
}

#direct8_03 {
    background-image: url('../img/tv/channel08/direct8/direct8_03.svg');
}

#direct8_04 {
    background-image: url('../img/tv/channel08/direct8/direct8_04.svg');
}

#direct8_05 {
    background-image: url('../img/tv/channel08/direct8/direct8_05.svg');
}

#d8_01 {
    background-image: url('../img/tv/channel08/d8/d8_01.png');
}

#c8_01 {
    background-image: url('../img/tv/channel08/c8/c8_01.svg');
}