#nrj12_01 {
    background-image: url('../img/tv/n/nrj12/nrj12_01.png');
}

#nrj12_02 {
    background-image: url('../img/tv/n/nrj12/nrj12_02.png');
}

#nrj12_03 {
    background-image: url('../img/tv/n/nrj12/nrj12_03.svg');
}

#nt1_01 {
    background-image: url('../img/tv/n/nt1/nt1_01.svg');
}

#nt1_02 {
    background-image: url('../img/tv/n/nt1/nt1_02.png');
}

#nt1_03 {
    background-image: url('../img/tv/n/nt1/nt1_03.svg');
}

#numero23_01 {
    background-image: url('../img/tv/n/numero23/numero23_01.png');
}

#numero23_02 {
    background-image: url('../img/tv/n/numero23/numero23_02.png');
}

#numero23_03 {
    background-image: url('../img/tv/n/numero23/numero23_03.svg');
}