#parispremiere_01 {
    background-image: url('../img/tv/channel41/parispremiere/parispremiere_01.png');
}

#parispremiere_02 {
    background-image: url('../img/tv/channel41/parispremiere/parispremiere_02.svg');
}

#parispremiere_03 {
    background-image: url('../img/tv/channel41/parispremiere/parispremiere_03.png');
}