#itele_01 {
    background-image: url('../img/tv/i/itele/itele_01.svg');
}

#itele_02 {
    background-image: url('../img/tv/i/itele/itele_02.svg');
}

#itele_03 {
    background-image: url('../img/tv/i/itele/itele_03.svg');
}

#itelevision_01 {
    background-image: url('../img/tv/i/itelevision/itelevision_01.svg');
}