#parispremiere_01 {
    background-image: url('../img/tv/p/parispremiere/parispremiere_01.png');
}

#parispremiere_02 {
    background-image: url('../img/tv/p/parispremiere/parispremiere_02.svg');
}

#parispremiere_03 {
    background-image: url('../img/tv/p/parispremiere/parispremiere_03.png');
}

#planete_01 {
    background-image: url('../img/tv/p/planete/planete_01.svg');
}

#planete_02 {
    background-image: url('../img/tv/p/planete/planete_02.png');
}

#planetecable_01 {
    background-image: url('../img/tv/p/planetecable/planetecable_01.svg');
}

#planeteplus_01 {
    background-image: url('../img/tv/p/planeteplus/planeteplus_01.svg');
}