#w9_01 {
    background-image: url('../img/tv/w/w9/w9_01.svg');
}

#w9_02 {
    background-image: url('../img/tv/w/w9/w9_02.svg');
}

#w9_03 {
    background-image: url('../img/tv/w/w9/w9_03.png');
}

#w9_04 {
    background-image: url('../img/tv/w/w9/w9_04.svg');
}