#rtf2_01 {
    background-image: url('../img/tv/channel02/rtf2/rtf2_01.png');
}

#ortf2_01 {
    background-image: url('../img/tv/channel02/ortf2/ortf2_01.svg');
}

#ortf2_02 {
    background-image: url('../img/tv/channel02/ortf2/ortf2_02.svg');
}

#ortf2_03 {
    background-image: url('../img/tv/channel02/ortf2/ortf2_03.png');
}

#antenne2_01 {
    background-image: url('../img/tv/channel02/antenne2/antenne2_01.jpg');
}

#antenne2_02 {
    background-image: url('../img/tv/channel02/antenne2/antenne2_02.svg');
}

#antenne2_03 {
    background-image: url('../img/tv/channel02/antenne2/antenne2_03.svg');
}

#antenne2_04 {
    background-image: url('../img/tv/channel02/antenne2/antenne2_04.svg');
}

#antenne2_05 {
    background-image: url('../img/tv/channel02/antenne2/antenne2_05.svg');
}

#antenne2_06 {
    background-image: url('../img/tv/channel02/antenne2/antenne2_06.svg');
}

#france2_01 {
    background-image: url('../img/tv/channel02/france2/france2_01.svg');
}

#france2_02 {
    background-image: url('../img/tv/channel02/france2/france2_02.svg');
}

#france2_03 {
    background-image: url('../img/tv/channel02/france2/france2_03.png');
}

#france2_04 {
    background-image: url('../img/tv/channel02/france2/france2_04.svg');
}

#france2_05 {
    background-image: url('../img/tv/channel02/france2/france2_05.jpg');
}