#d17_01 {
    background-image: url('../img/tv/channel17/d17/d17_01.png');
}

#d17_02 {
    background-image: url('../img/tv/channel17/d17/d17_02.png');
}

#cstar_01 {
    background-image: url('../img/tv/channel17/cstar/cstar_01.svg');
}