#bfmtv_01 {
    background-image: url('../img/tv/channel15/bfmtv/bfmtv_01.svg');
}

#bfmtv_02 {
    background-image: url('../img/tv/channel15/bfmtv/bfmtv_02.svg');
}

#bfmtv_03 {
    background-image: url('../img/tv/channel15/bfmtv/bfmtv_03.svg');
}