#canalplusvert_01 {
    background-image: url('../img/tv/channel42/canalplusvert/canalplusvert_01.svg');
}

#canalplussport_01 {
    background-image: url('../img/tv/channel42/canalplussport/canalplussport_01.svg');
}

#canalplussport_02 {
    background-image: url('../img/tv/channel42/canalplussport/canalplussport_02.svg');
}

#canalplussport_03 {
    background-image: url('../img/tv/channel42/canalplussport/canalplussport_03.svg');
}

#canalplussport_04 {
    background-image: url('../img/tv/channel42/canalplussport/canalplussport_04.svg');
}

#canalplussport_05 {
    background-image: url('../img/tv/channel42/canalplussport/canalplussport_05.svg');
}

#canalplussport_06 {
    background-image: url('../img/tv/channel42/canalplussport/canalplussport_06.png');
}