#ortf3_01 {
    background-image: url('../img/tv/channel03/ortf3/ortf3_01.svg');
}

#fr3_01 {
    background-image: url('../img/tv/channel03/fr3/fr3_01.svg');
}

#fr3_02 {
    background-image: url('../img/tv/channel03/fr3/fr3_02.svg');
}

#fr3_03 {
    background-image: url('../img/tv/channel03/fr3/fr3_03.svg');
}

#fr3_04 {
    background-image: url('../img/tv/channel03/fr3/fr3_04.svg');
}

#france3_01 {
    background-image: url('../img/tv/channel03/france3/france3_01.svg');
}

#france3_02 {
    background-image: url('../img/tv/channel03/france3/france3_02.svg');
}

#france3_03 {
    background-image: url('../img/tv/channel03/france3/france3_03.png');
}

#france3_04 {
    background-image: url('../img/tv/channel03/france3/france3_04.svg');
}