#lequipetv_01 {
    background-image: url('../img/tv/channel21/lequipetv/lequipetv_01.svg');
}

#lequipetv_02 {
    background-image: url('../img/tv/channel21/lequipetv/lequipetv_02.svg');
}

#lequipetv_03 {
    background-image: url('../img/tv/channel21/lequipetv/lequipetv_03.svg');
}

#lequipetv_04 {
    background-image: url('../img/tv/channel21/lequipetv/lequipetv_04.svg');
}

#lequipe21_01 {
    background-image: url('../img/tv/channel21/lequipe21/lequipe21_01.svg');
}

#lachainelequipe_01 {
    background-image: url('../img/tv/channel21/lachainelequipe/lachainelequipe_01.png');
}