#rfosat_01 {
    background-image: url('../img/tv/channel19/rfosat/rfosat_01.svg');
}

#rfosat_02 {
    background-image: url('../img/tv/channel19/rfosat/rfosat_02.svg');
}

#franceO_01 {
    background-image: url('../img/tv/channel19/franceO/franceO_01.svg');
}

#franceO_02 {
    background-image: url('../img/tv/channel19/franceO/franceO_02.png');
}

#franceO_03 {
    background-image: url('../img/tv/channel19/franceO/franceO_03.svg');
}