#lasept_01 {
    background-image: url('../img/tv/channel07/lasept/lasept_01.png');
}

#arte_01 {
    background-image: url('../img/tv/channel07/arte/arte_01.png');
}

#arte_02 {
    background-image: url('../img/tv/channel07/arte/arte_02.svg');
}

#arte_03 {
    background-image: url('../img/tv/channel07/arte/arte_03.svg');
}

#arte_04 {
    background-image: url('../img/tv/channel07/arte/arte_04.svg');
}

#arte_05 {
    background-image: url('../img/tv/channel07/arte/arte_05.svg');
}