#content {
    width: calc(100vw - 40px);
    height: calc(100vh - 130px);
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.tv {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#radiovision_ptt_01 {
    background-image: url('../img/tv/radiovision_ptt/radiovision_ppt_01.svg');
}

#rtt_01 {
    background-image: url('../img/tv/rtt/rtt_01.png');
}

#rtt_02 {
    background-image: url('../img/tv/rtt/rtt_02.png');
}

#fernsehsender_paris_01 {
    background-image: url('../img/tv/fernsehsender_paris/fernsehsender_paris_01.png');
}

#rdf_tf_01 {
    background-image: url('../img/tv/rdf_tf/rdf_tf_01.jpg');
}

#rtf_01 {
    background-image: url('../img/tv/rtf/rtf_01.svg');
}

#rtf_02 {
    background-image: url('../img/tv/rtf/rtf_02.png');
}

#rtf2_01 {
    background-image: url('../img/tv/rtf2/rtf2_01.png');
}

#ortf_01 {
    background-image: url('../img/tv/ortf/ortf_01.svg');
}

#ortf2_01 {
    background-image: url('../img/tv/ortf2/ortf2_01.svg');
}

#ortf2_02 {
    background-image: url('../img/tv/ortf2/ortf2_02.svg');
}

#ortf2_03 {
    background-image: url('../img/tv/ortf2/ortf2_03.png');
}

#ortf3_01 {
    background-image: url('../img/tv/ortf3/ortf3_01.svg');
}

#tf1_01 {
    background-image: url('../img/tv/tf1/tf1_01.svg');
}

#tf1_02 {
    background-image: url('../img/tv/tf1/tf1_02.svg');
}

#tf1_03 {
    background-image: url('../img/tv/tf1/tf1_03.svg');
}

#tf1_04 {
    background-image: url('../img/tv/tf1/tf1_04.svg');
}

#tf1_05 {
    background-image: url('../img/tv/tf1/tf1_05.svg');
}

#tf1_06 {
    background-image: url('../img/tv/tf1/tf1_06.svg');
}

#antenne2_01 {
    background-image: url('../img/tv/antenne2/antenne2_01.jpg');
}

#antenne2_02 {
    background-image: url('../img/tv/antenne2/antenne2_02.svg');
}

#antenne2_03 {
    background-image: url('../img/tv/antenne2/antenne2_03.svg');
}

#antenne2_04 {
    background-image: url('../img/tv/antenne2/antenne2_04.svg');
}

#antenne2_05 {
    background-image: url('../img/tv/antenne2/antenne2_05.svg');
}

#antenne2_06 {
    background-image: url('../img/tv/antenne2/antenne2_06.svg');
}

#fr3_01 {
    background-image: url('../img/tv/fr3/fr3_01.svg');
}

#fr3_02 {
    background-image: url('../img/tv/fr3/fr3_02.svg');
}

#fr3_03 {
    background-image: url('../img/tv/fr3/fr3_03.svg');
}

#fr3_04 {
    background-image: url('../img/tv/fr3/fr3_04.svg');
}

#france2_01 {
    background-image: url('../img/tv/france2/france2_01.svg');
}

#france2_02 {
    background-image: url('../img/tv/france2/france2_02.svg');
}

#france2_03 {
    background-image: url('../img/tv/france2/france2_03.png');
}

#france2_04 {
    background-image: url('../img/tv/france2/france2_04.svg');
}

#france2_05 {
    background-image: url('../img/tv/france2/france2_05.jpg');
}

#france3_01 {
    background-image: url('../img/tv/france3/france3_01.svg');
}

#france3_02 {
    background-image: url('../img/tv/france3/france3_02.svg');
}

#france3_03 {
    background-image: url('../img/tv/france3/france3_03.png');
}

#france3_04 {
    background-image: url('../img/tv/france3/france3_04.svg');
}

#france4_01 {
    background-image: url('../img/tv/france4/france4_01.svg');
}

#france4_02 {
    background-image: url('../img/tv/france4/france4_02.png');
}

#france4_03 {
    background-image: url('../img/tv/france4/france4_03.svg');
}