#content {
    width: calc(100vw - 40px);
    height: calc(100vh - 130px);
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.tv {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}