#d8_01 {
    background-image: url('../../img/channels/d/d8/d8_01.png');
}

#d17_01 {
    background-image: url('../../img/channels/d/d17/d17_01.png');
}

#d17_02 {
    background-image: url('../../img/channels/d/d17/d17_02.png');
}

#direct8_01 {
    background-image: url('../../img/channels/d/direct8/direct8_01.png');
}

#direct8_02 {
    background-image: url('../../img/channels/d/direct8/direct8_02.svg');
}

#direct8_03 {
    background-image: url('../../img/channels/d/direct8/direct8_03.svg');
}

#direct8_04 {
    background-image: url('../../img/channels/d/direct8/direct8_04.svg');
}

#direct8_05 {
    background-image: url('../../img/channels/d/direct8/direct8_05.svg');
}

#directstar_01 {
    background-image: url('../../img/channels/d/directstar/directstar_01.svg');
}