#babytv_01 {
    background-image: url('../../img/channels/b/babytv/babytv_01.png');
}

#beinsports01_01 {
    background-image: url('../../img/channels/b/beinsports01/beinsports01_01.png');
}

#beinsports01_02 {
    background-image: url('../../img/channels/b/beinsports01/beinsports01_02.png');
}

#beinsports02_01 {
    background-image: url('../../img/channels/b/beinsports02/beinsports02_01.png');
}

#beinsports02_02 {
    background-image: url('../../img/channels/b/beinsports02/beinsports02_02.png');
}

#beinsports03_01 {
    background-image: url('../../img/channels/b/beinsports03/beinsports03_01.webp');
}

#beinsports03_02 {
    background-image: url('../../img/channels/b/beinsports03/beinsports03_02.png');
}

#beinsportsmax04_01 {
    background-image: url('../../img/channels/b/beinsportsmax04/beinsportsmax04_01.webp');
}

#beinsportsmax04_02 {
    background-image: url('../../img/channels/b/beinsportsmax04/beinsportsmax04_02.svg');
}

#beinsportsmax05_01 {
    background-image: url('../../img/channels/b/beinsportsmax05/beinsportsmax05_01.webp');
}

#beinsportsmax05_02 {
    background-image: url('../../img/channels/b/beinsportsmax05/beinsportsmax05_02.svg');
}

#beinsportsmax06_01 {
    background-image: url('../../img/channels/b/beinsportsmax06/beinsportsmax06_01.webp');
}

#beinsportsmax06_02 {
    background-image: url('../../img/channels/b/beinsportsmax06/beinsportsmax06_02.svg');
}

#beinsportsmax07_01 {
    background-image: url('../../img/channels/b/beinsportsmax07/beinsportsmax07_01.png');
}

#beinsportsmax07_02 {
    background-image: url('../../img/channels/b/beinsportsmax07/beinsportsmax07_02.svg');
}

#beinsportsmax08_01 {
    background-image: url('../../img/channels/b/beinsportsmax08/beinsportsmax08_01.webp');
}

#beinsportsmax08_02 {
    background-image: url('../../img/channels/b/beinsportsmax08/beinsportsmax08_02.svg');
}

#beinsportsmax09_01 {
    background-image: url('../../img/channels/b/beinsportsmax09/beinsportsmax09_01.webp');
}

#beinsportsmax09_02 {
    background-image: url('../../img/channels/b/beinsportsmax09/beinsportsmax09_02.svg');
}

#beinsportsmax10_01 {
    background-image: url('../../img/channels/b/beinsportsmax10/beinsportsmax10_01.webp');
}

#beinsportsmax10_02 {
    background-image: url('../../img/channels/b/beinsportsmax10/beinsportsmax10_02.svg');
}

#bet_01 {
    background-image: url('../../img/channels/b/bet/bet_01.svg');
}

#bet_02 {
    background-image: url('../../img/channels/b/bet/bet_02.svg');
}

#bfmbusiness_01 {
    background-image: url('../../img/channels/b/bfmbusiness/bfmbusiness_01.svg');
}

#bfmbusiness_02 {
    background-image: url('../../img/channels/b/bfmbusiness/bfmbusiness_02.svg');
}

#bfmbusiness_03 {
    background-image: url('../../img/channels/b/bfmbusiness/bfmbusiness_03.svg');
}

#bfmbusiness_04 {
    background-image: url('../../img/channels/b/bfmbusiness/bfmbusiness_04.svg');
}

#bfmtv_01 {
    background-image: url('../../img/channels/b/bfmtv/bfmtv_01.svg');
}

#bfmtv_02 {
    background-image: url('../../img/channels/b/bfmtv/bfmtv_02.svg');
}

#bfmtv_03 {
    background-image: url('../../img/channels/b/bfmtv/bfmtv_03.svg');
}

#bsmart_01 {
    background-image: url('../../img/channels/b/bsmart/bsmart_01.png');
}