#lachainelequipe_01 {
    background-image: url('../../img/channels/l/lachainelequipe/lachainelequipe_01.png');
}

#lacinq_01 {
    background-image: url('../../img/channels/l/lacinq/lacinq_01.svg');
}

#lacinq_02 {
    background-image: url('../../img/channels/l/lacinq/lacinq_02.jpeg');
}

#lacinq_03 {
    background-image: url('../../img/channels/l/lacinq/lacinq_03.jpg');
}

#lacinquieme_01 {
    background-image: url('../../img/channels/l/lacinquieme/lacinquieme_01.png');
}

#lacinquieme_02 {
    background-image: url('../../img/channels/l/lacinquieme/lacinquieme_02.svg');
}

#lasept_01 {
    background-image: url('../../img/channels/l/lasept/lasept_01.png');
}

#lci_01 {
    background-image: url('../../img/channels/l/lci/lci_01.svg');
}

#lci_02 {
    background-image: url('../../img/channels/l/lci/lci_02.png');
}

#lci_03 {
    background-image: url('../../img/channels/l/lci/lci_03.png');
}

#lci_04 {
    background-image: url('../../img/channels/l/lci/lci_04.svg');
}

#lcp_01 {
    background-image: url('../../img/channels/l/lcp/lcp_01.png');
}

#lcp_02 {
    background-image: url('../../img/channels/l/lcp/lcp_02.png');
}

#lcp_03 {
    background-image: url('../../img/channels/l/lcp/lcp_03.png');
}

#lcp_04 {
    background-image: url('../../img/channels/l/lcp/lcp_04.png');
}

#lcp_05 {
    background-image: url('../../img/channels/l/lcp/lcp_05.png');
}

#lcp_06 {
    background-image: url('../../img/channels/l/lcp/lcp_06.svg');
}

#lcp_07 {
    background-image: url('../../img/channels/l/lcp/lcp_07.jpg');
}

#lcp_08 {
    background-image: url('../../img/channels/l/lcp/lcp_08.png');
}

#lcp_09 {
    background-image: url('../../img/channels/l/lcp/lcp_09.svg');
}

#lequipe21_01 {
    background-image: url('../../img/channels/l/lequipe21/lequipe21_01.svg');
}

#lequipetv_01 {
    background-image: url('../../img/channels/l/lequipetv/lequipetv_01.svg');
}

#lequipetv_02 {
    background-image: url('../../img/channels/l/lequipetv/lequipetv_02.svg');
}

#lequipetv_03 {
    background-image: url('../../img/channels/l/lequipetv/lequipetv_03.svg');
}

#lequipetv_04 {
    background-image: url('../../img/channels/l/lequipetv/lequipetv_04.svg');
}