#ab1_01 {
    background-image: url('../../img/channels/a/ab1/ab1_01.gif');
}

#ab1_02 {
    background-image: url('../../img/channels/a/ab1/ab1_02.gif');
}

#ab1_03 {
    background-image: url('../../img/channels/a/ab1/ab1_03.svg');
}

#ab1_04 {
    background-image: url('../../img/channels/a/ab1/ab1_04.svg');
}

#ab1_05 {
    background-image: url('../../img/channels/a/ab1/ab1_05.svg');
}

#ab1_06 {
    background-image: url('../../img/channels/a/ab1/ab1_06.svg');
}

#ab1_07 {
    background-image: url('../../img/channels/a/ab1/ab1_07.svg');
}

#ab1_08 {
    background-image: url('../../img/channels/a/ab1/ab1_08.png');
}

#ab1_09 {
    background-image: url('../../img/channels/a/ab1/ab1_09.svg');
}

#action_01 {
    background-image: url('../../img/channels/a/action/action_01.gif');
}

#action_02 {
    background-image: url('../../img/channels/a/action/action_02.gif');
}

#action_03 {
    background-image: url('../../img/channels/a/action/action_03.svg');
}

#action_04 {
    background-image: url('../../img/channels/a/action/action_04.svg');
}

#antenne2_01 {
    background-image: url('../../img/channels/a/antenne2/antenne2_01.jpg');
}

#antenne2_02 {
    background-image: url('../../img/channels/a/antenne2/antenne2_02.svg');
}

#antenne2_03 {
    background-image: url('../../img/channels/a/antenne2/antenne2_03.svg');
}

#antenne2_04 {
    background-image: url('../../img/channels/a/antenne2/antenne2_04.svg');
}

#antenne2_05 {
    background-image: url('../../img/channels/a/antenne2/antenne2_05.svg');
}

#antenne2_06 {
    background-image: url('../../img/channels/a/antenne2/antenne2_06.svg');
}

#arte_01 {
    background-image: url('../../img/channels/a/arte/arte_01.png');
}

#arte_02 {
    background-image: url('../../img/channels/a/arte/arte_02.svg');
}

#arte_03 {
    background-image: url('../../img/channels/a/arte/arte_03.svg');
}

#arte_04 {
    background-image: url('../../img/channels/a/arte/arte_04.svg');
}

#arte_05 {
    background-image: url('../../img/channels/a/arte/arte_05.svg');
}