#m6_01 {
    background-image: url('../../img/channels/m/m6/m6_01.jpg');
}

#m6_02 {
    background-image: url('../../img/channels/m/m6/m6_02.jpg');
}

#m6_03 {
    background-image: url('../../img/channels/m/m6/m6_03.svg');
}

#m6_04 {
    background-image: url('../../img/channels/m/m6/m6_04.svg');
}

#m6_05 {
    background-image: url('../../img/channels/m/m6/m6_05.svg');
}

#m6_06 {
    background-image: url('../../img/channels/m/m6/m6_06.svg');
}

#mezzo_01 {
    background-image: url('../../img/channels/m/mezzo/mezzo_01.gif');
}

#mezzo_02 {
    background-image: url('../../img/channels/m/mezzo/mezzo_02.jpg');
}

#mezzo_03 {
    background-image: url('../../img/channels/m/mezzo/mezzo_03.jpg');
}

#mezzo_04 {
    background-image: url('../../img/channels/m/mezzo/mezzo_04.jpg');
}

#mezzo_05 {
    background-image: url('../../img/channels/m/mezzo/mezzo_05.svg');
}

#mezzo_06 {
    background-image: url('../../img/channels/m/mezzo/mezzo_06.svg');
}

#mezzolive_01 {
    background-image: url('../../img/channels/m/mezzolive/mezzolive_01.svg');
}

#mezzolivehd_01 {
    background-image: url('../../img/channels/m/mezzolivehd/mezzolivehd_01.png');
}