#golfplus_01 {
    background-image: url('../../img/channels/g/golfplus/golfplus_01.svg');
}

#gulli_01 {
    background-image: url('../../img/channels/g/gulli/gulli_01.svg');
}

#gulli_02 {
    background-image: url('../../img/channels/g/gulli/gulli_02.svg');
}

#gulli_03 {
    background-image: url('../../img/channels/g/gulli/gulli_03.png');
}

#gulli_04 {
    background-image: url('../../img/channels/g/gulli/gulli_04.png');
}