#ortf_01 {
    background-image: url('../../img/channels/o/ortf/ortf_01.svg');
}

#ortf2_01 {
    background-image: url('../../img/channels/o/ortf2/ortf2_01.svg');
}

#ortf2_02 {
    background-image: url('../../img/channels/o/ortf2/ortf2_02.svg');
}

#ortf2_03 {
    background-image: url('../../img/channels/o/ortf2/ortf2_03.png');
}

#ortf3_01 {
    background-image: url('../../img/channels/o/ortf3/ortf3_01.svg');
}