[id="13emerue_01"] {
    background-image: url('../../img/channels/1/13emerue/13emerue_01.svg');
}

[id="13emerue_02"] {
    background-image: url('../../img/channels/1/13emerue/13emerue_02.svg');
}

[id="13emerue_03"] {
    background-image: url('../../img/channels/1/13emerue/13emerue_03.svg');
}