#bfmtv_01 {
    background-image: url('../../img/channels/b/bfmtv/bfmtv_01.svg');
}

#bfmtv_02 {
    background-image: url('../../img/channels/b/bfmtv/bfmtv_02.svg');
}

#bfmtv_03 {
    background-image: url('../../img/channels/b/bfmtv/bfmtv_03.svg');
}

#bsmart_01 {
    background-image: url('../../img/channels/b/bsmart/bsmart_01.png');
}