#m6_01 {
    background-image: url('../../img/channels/m/m6/m6_01.jpg');
}

#m6_02 {
    background-image: url('../../img/channels/m/m6/m6_02.jpg');
}

#m6_03 {
    background-image: url('../../img/channels/m/m6/m6_03.svg');
}

#m6_04 {
    background-image: url('../../img/channels/m/m6/m6_04.svg');
}

#m6_05 {
    background-image: url('../../img/channels/m/m6/m6_05.svg');
}

#m6_06 {
    background-image: url('../../img/channels/m/m6/m6_06.svg');
}