#c8_01 {
    background-image: url('../../img/channels/c/c8/c8_01.svg');
}

#canalassembleenationale_01 {
    background-image: url('../../img/channels/c/canalassembleenationale/canalassembleenationale_01.gif');
}

#canalassemblee_01 {
    background-image: url('../../img/channels/c/canalassemblee/canalassemblee_01.png');
}

#canalj_01 {
    background-image: url('../../img/channels/c/canalj/canalj_01.jpg');
}

#canalj_02 {
    background-image: url('../../img/channels/c/canalj/canalj_02.jpg');
}

#canalj_03 {
    background-image: url('../../img/channels/c/canalj/canalj_03.svg');
}

#canalj_04 {
    background-image: url('../../img/channels/c/canalj/canalj_04.svg');
}

#canalj_05 {
    background-image: url('../../img/channels/c/canalj/canalj_05.png');
}

#canalj_06 {
    background-image: url('../../img/channels/c/canalj/canalj_06.png');
}

#canalj_07 {
    background-image: url('../../img/channels/c/canalj/canalj_07.svg');
}

#canalj_08 {
    background-image: url('../../img/channels/c/canalj/canalj_08.png');
}

#canalj_09 {
    background-image: url('../../img/channels/c/canalj/canalj_09.png');
}

#canalj_10 {
    background-image: url('../../img/channels/c/canalj/canalj_10.png');
}

#canalplus_01 {
    background-image: url('../../img/channels/c/canalplus/canalplus_01.svg');
}

#canalplus_02 {
    background-image: url('../../img/channels/c/canalplus/canalplus_02.svg');
}

#canalplusbleu_01 {
    background-image: url('../../img/channels/c/canalplusbleu/canalplusbleu_01.svg');
}

#canalplusboxoffice_01 {
    background-image: url('../../img/channels/c/canalplusboxoffice/canalplusboxoffice_01.png');
}

#canalpluscinema_01 {
    background-image: url('../../img/channels/c/canalpluscinema/canalpluscinema_01.svg');
}

#canalpluscinema_02 {
    background-image: url('../../img/channels/c/canalpluscinema/canalpluscinema_02.svg');
}

#canalpluscinema_03 {
    background-image: url('../../img/channels/c/canalpluscinema/canalpluscinema_03.svg');
}

#canalpluscinema_04 {
    background-image: url('../../img/channels/c/canalpluscinema/canalpluscinema_04.svg');
}

#canalpluscinema_05 {
    background-image: url('../../img/channels/c/canalpluscinema/canalpluscinema_05.svg');
}

#canalpluscinema_06 {
    background-image: url('../../img/channels/c/canalpluscinema/canalpluscinema_06.png');
}

#canalplusconfort_01 {
    background-image: url('../../img/channels/c/canalplusconfort/canalplusconfort_01.svg');
}

#canalplusdecale_01 {
    background-image: url('../../img/channels/c/canalplusdecale/canalplusdecale_01.svg');
}

#canalplusdecale_02 {
    background-image: url('../../img/channels/c/canalplusdecale/canalplusdecale_02.svg');
}

#canalplusdecale_03 {
    background-image: url('../../img/channels/c/canalplusdecale/canalplusdecale_03.svg');
}

#canalplusdecale_04 {
    background-image: url('../../img/channels/c/canalplusdecale/canalplusdecale_04.svg');
}

#canalplusdocs_01 {
    background-image: url('../../img/channels/c/canalplusdocs/canalplusdocs_01.png');
}

#canalplusfamily_01 {
    background-image: url('../../img/channels/c/canalplusfamily/canalplusfamily_01.png');
}

#canalplusfamily_02 {
    background-image: url('../../img/channels/c/canalplusfamily/canalplusfamily_02.svg');
}

#canalplusfamily_03 {
    background-image: url('../../img/channels/c/canalplusfamily/canalplusfamily_03.svg');
}

#canalplusfoot_01 {
    background-image: url('../../img/channels/c/canalplusfoot/canalplusfoot_01.png');
}

#canalplusgrandecran_01 {
    background-image: url('../../img/channels/c/canalplusgrandecran/canalplusgrandecran_01.svg');
}

#canalplusgrandecran_02 {
    background-image: url('../../img/channels/c/canalplusgrandecran/canalplusgrandecran_02.png');
}

#canalplusjaune_01 {
    background-image: url('../../img/channels/c/canalplusjaune/canalplusjaune_01.svg');
}

#canalpluskids_01 {
    background-image: url('../../img/channels/c/canalpluskids/canalpluskids_01.svg');
}

#canalpluskids_02 {
    background-image: url('../../img/channels/c/canalpluskids/canalpluskids_02.png');
}

#canalpluslive_01 {
    background-image: url('../../img/channels/c/canalpluslive/canalpluslive_01.svg');
}

#canalpluspremierleague_01 {
    background-image: url('../../img/channels/c/canalpluspremierleague/canalpluspremierleague_01.png');
}

#canalplusseries_01 {
    background-image: url('../../img/channels/c/canalplusseries/canalplusseries_01.svg');
}

#canalplusseries_02 {
    background-image: url('../../img/channels/c/canalplusseries/canalplusseries_02.png');
}

#canalplussport_01 {
    background-image: url('../../img/channels/c/canalplussport/canalplussport_01.svg');
}

#canalplussport_02 {
    background-image: url('../../img/channels/c/canalplussport/canalplussport_02.svg');
}

#canalplussport_03 {
    background-image: url('../../img/channels/c/canalplussport/canalplussport_03.svg');
}

#canalplussport_04 {
    background-image: url('../../img/channels/c/canalplussport/canalplussport_04.svg');
}

#canalplussport_05 {
    background-image: url('../../img/channels/c/canalplussport/canalplussport_05.svg');
}

#canalplussport_06 {
    background-image: url('../../img/channels/c/canalplussport/canalplussport_06.png');
}

#canalplussport360_01 {
    background-image: url('../../img/channels/c/canalplussport360/canalplussport360_01.png');
}

#canalplusvert_01 {
    background-image: url('../../img/channels/c/canalplusvert/canalplusvert_01.svg');
}

#cherie25_01 {
    background-image: url('../../img/channels/c/cherie25/cherie25_01.svg');
}

#cherie25_02 {
    background-image: url('../../img/channels/c/cherie25/cherie25_02.svg');
}

#cnews_01 {
    background-image: url('../../img/channels/c/cnews/cnews_01.svg');
}

#cstar_01 {
    background-image: url('../../img/channels/c/cstar/cstar_01.svg');
}

#culturebox_01 {
    background-image: url('../../img/channels/c/culturebox/culturebox_01.svg');
}